
<p> Test BasicLineChart</p>
<p>Test unitaire</p>
<p>Partie 1 : Afficher une line Chart</p>

<p>a) Afficher une simple Line chart sans parametres</p>
<lib-basic-linechart [data]=dat1 ></lib-basic-linechart>

<p>b) Afficher une multi Line Chart sans parametres</p>
<lib-basic-linechart [data]=dat3 ></lib-basic-linechart>

<p>c) Afficher une line Chart avec comme style line|aréa|both</p>
<lib-basic-linechart [data]=datatestStyle> </lib-basic-linechart>
<button (click)='change2(1)'>Line</button>
<button (click)='change2(2)'>Aréa</button>
<button (click)='change2(3)' >Both</button>

<p>d) Afficher une line Chart avec comme interpolation step|linear</p>
<lib-basic-linechart [data]=datatestInterpolation> </lib-basic-linechart>
<button (click)='change3(1)'>Step</button>
<button (click)='change3(2)'>Linear</button>


<p>e) Afficher une line Chart qui reagis dynamiquement au changement de type de données</p>
<lib-basic-linechart [data]=datatest> </lib-basic-linechart>
<button (click)='change(1)'>Float</button>
<button (click)='change(2)'>Boolean</button>
<button (click)='change(3)' >Int</button>

<p>f) Afficher une line Chart avec un domain</p>
<lib-basic-linechart [data]=dat4 [domain]=[0,30]> </lib-basic-linechart>

<p>g) Afficher une line Chart avec une taille différent 1500/500</p>
<lib-basic-linechart [width]="1500" [height]="500" [data]=dat4> </lib-basic-linechart>

<p>Partie 2 : Naviger dans le composant </p>
<p>a)Verifier le tooltips</p>
<lib-basic-linechart [data]=datatestTooltips> </lib-basic-linechart>
<button (click)='change4(1)'>Int</button>
<button (click)='change4(2)'>Float</button>
<button (click)='change4(3)' >Boolean</button>

<p>b) Verifier le zooom et la scrollBar</p>
<lib-basic-linechart [data]=datatestZoom> </lib-basic-linechart>
<button (click)='change5(1)'>Line</button>
<button (click)='change5(2)'>MultiLine</button>

<p>c) Verifier le currentTime</p>
<lib-basic-linechart [data]=dat3 ></lib-basic-linechart>
<lib-basic-linechart [data]=dat1 ></lib-basic-linechart>

<p> Test intégratif</p>
<p>Partie 1 :  la synchronisation du zoom, de la scrollBar et de la currentTime</p>
<p>Line 1 </p>
<lib-basic-linechart [data]=dat4 [range]=range (rangeChange)="updateRange($event)" [currentTime]=currentTime (currentTimeChange)="updateCurrentTime($event)"> </lib-basic-linechart>
<p>Line 2 </p>
<lib-basic-linechart [data]=dat4  [range]=range (rangeChange)="updateRange($event)" [currentTime]=currentTime (currentTimeChange)="updateCurrentTime($event)">  </lib-basic-linechart>

<p>Partie 2 : le deplacement de la currentTime</p>
<p>Déplacement non auto</p>
<lib-basic-linechart [data]=dat4  [range]=range [currentTime]=currentTime2>  </lib-basic-linechart>
<button (click)='current(1)'>Avancer</button>
<button (click)='current(2)'>Reculer</button>

<p>Deplacement auto</p>
<lib-basic-linechart [data]=dat4  [range]=range [currentTime]=currentTime3>  </lib-basic-linechart>
<button (click)='lire()'>Lire</button>
<button (click)='arreter()'>Arreter</button>

<p>Deplacement auto et autre fonctionnalités synchroniser</p>
<lib-basic-linechart [data]=dat4 (rangeChange)="updateRange($event)" [range]=range [currentTime]=currentTime2 (currentTimeChange)="updateCurrentTime2($event)">  </lib-basic-linechart>
<lib-basic-linechart [data]=dat2 (rangeChange)="updateRange($event)"  [range]=range [currentTime]=currentTime2 (currentTimeChange)="updateCurrentTime2($event)">  </lib-basic-linechart>
<button (click)='lire2()'>Lire</button>
<button (click)='arreter()'>Arreter</button>
<button (click)='current(1)'>Avancer</button>
<button (click)='current(2)'>Reculer</button>